<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />

    <title>todo-list</title>
  </head>
  <style>
    .delbtn {
      margin-left: 10px;
    }
    .done {
      color: gray;
      text-decoration: line-through;
    }
  </style>
  <body>
    <div id="app">
      <h1>Todoリスト</h1>
      <input
        type="text"
        v-model.trim="newtodo"
        placeholder="todoを入力してください"
      />
      <button @click="addTodo">追加</button>
      <ul>
        <li
          class="todolist"
          v-for="todo, index in todolist"
          v-bind:class="{done: todo.done}"
          @mouseover="todo.hover=true"
          @mouseout="todo.hover=false"
        >
          <input type="checkbox" v-model="todo.done" />
          <span>{{ todo.text }}</span>
          <button
            class="delbtn"
            @click="remove(index)"
            v-show="todo.done && todo.hover"
          >
            x
          </button>
        </li>
      </ul>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="todo.js"></script>
</html>
